.gallery-banner{
  padding-top: 80px;
  padding-bottom: 60px;
  position: relative;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    padding-top: 80px;
    padding-bottom: 120px;
  }
  .banner-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      opacity: .5;
    }
  }
  .bg-filter {
    background: rgba($dark, .3);
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    backdrop-filter: blur(8px);
  }
  .feature-layout {
    display: flex;
  }
}

.paintion-banner {
  padding-top: 80px;
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bg-filter {
    background: rgba($dark, .3);
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    backdrop-filter: blur(8px);
  }
  .banner-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      opacity: .5;
    }
  }
}

.single-news-banner {
  aspect-ratio: 1/1;
  object-fit: cover;
}