.btn {
  padding: 8px 12px;
  border-radius: 16px;
  transition: all .3s;
}

.btn-primary {
  border: 1px solid $primary;
  background: $primary;
  color: $light;
  &:hover {
  background: $secondary;
  border: 1px solid $secondary;
  }
}

.btn-outline-primary {
  border: 1px solid $primary;
  color: $dark;
  &:hover {
  background: $primary;
  border: 1px solid $primary;
  color: $light;
  }
}

.btn-dark {
  border: 1px solid $dark;
  background: $dark;
  color: $light;
  &:hover {
  background: $primary;
  border: 1px solid $primary;
  }
}

.btn-danger {
  border: 1px solid $danger;
  background: $danger;
  color: $light;
  &:hover {
  background: $light;
  border: 1px solid $danger;
  color: $danger;
  }
}

.btn-outline-dark {
  border: 1px solid $dark;
  &:hover {
    background: $dark;
    color: $light;
  }
}