.shopping-cart-card {
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }

  .card-img-wrap {
    border-radius: 16px;
    overflow: hidden;
    width: 92px;
    height: 92px;
    margin-right: 12px;
  }
}


.card {
  padding: 20px;
  background: white;
  border-radius: 10px;
  &.rotate-card {
    position: absolute;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    img {
      width: 420px;
    }
    &:nth-child(1) {
      // bottom: 100%;
      top: 10%;
      left: 30%;
      transform: rotate(-20deg);
    }
    &:nth-child(2) {
      top: 25%;
      left: 50%;
      transform: rotate(20deg);
    }
    &:nth-child(3) {
      top: 45%;
      left: 30%;
      transform: rotate(-10deg);
    }
    // transform: rotate(20deg);
  }
  &.painting-card {
    overflow: hidden;
    .card-img-wrap {
      margin-bottom: 20px;
    }
    .card-img-wrap img {
      width: 100%;
      height: 400px;
      border-radius: 8px;
      object-fit: cover;
      object-position: center;
    }
  }
  &.news-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    .card-img-wrap {
      
    }
    .card-img-wrap img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
}

.about-card {
  padding: 36px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  .side-img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sign {
    width: 160px;
  }
}