.dashboard-navbar {
  position: fixed;
  background: $dark;
  padding: 40px 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-navbar {
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  top: 1%;
  z-index: 10000;
  background: rgba($dark, .6);
  border-radius: 30px;
  padding: 10px 20px;
  transition: all .3s;
  display: flex;
  @include media-breakpoint-up(lg) {
    display: block;
    top: 50%;
    left: 2%;
    transform: translate( 0%,-50%);
    // transform: translateX(0%);
  }
  a {
    transition: all .3s;
    color: $light;
    &:hover {
      color: $primary;
    }
  }
  &:hover {
    background: $dark;
  }
}