.dashboard-navbar {
  position: fixed;
  background: $dark;
  padding: 40px 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-navbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
}