.word-break {
  word-wrap: break-word;
}

.bg-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

@for $i from 1 through 1000 {
  .z-index-#{$i} {
    z-index: $i;
  }
}

.text-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 限制顯示 2 行 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.quill .ql-container {
  height: 300px;
}

.admin-news-image {
  object-fit: cover;
  width: 100%;
}

.link {
  color: $dark;
  text-decoration: underline;
  transition: all .3s;
  &:hover {
    color: $primary;
  }
}